@media (prefers-color-scheme: dark){
	body {
		background:#000;
		color: #FFFFFF;
	}
	a{
		color: #3118ED;
	}
}

@media (prefers-color-scheme: light){
	body {
		background:#FFFFFF;
		color: #42;
	}
	a{
		color: #920002;
	}
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.2;
  font-family:"Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size: 18px;
  padding: 0 8px;
}

.note {
  padding:1rem 1rem 0 1rem;
  border:2px solid red;
}
.notetitle {
  fontweight:120%;
}
